[Unit]
Description={{ NAME }}
After=network-online.target local-fs.target remote-fs.target 
Wants=network-online.target 

[Service]
User=neutron
Group=neutron
Type=simple
ExecStart=/opt/openstack/neutron/bin/python3 /opt/openstack/neutron/bin/{{ NAME }}
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
